.container{
    background-color: antiquewhite;
    align-content: center;
}
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  button {
    background-color: #85816d;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #595a55;
  }
  a{
    color: rgb(255, 228, 196);
  }
  